:root {
    --search-result-fg: #ffadad;
    --search-mark-bg: #ffadad;
}

#searchresults a {
    text-decoration: none;
    color: var(--accent);
}

mark {
    border-radius: 2px;
    padding-block-start: 0;
    padding-block-end: 1px;
    padding-inline-start: 3px;
    padding-inline-end: 3px;
    margin-block-start: 0;
    margin-block-end: -1px;
    margin-inline-start: -3px;
    margin-inline-end: -3px;
    background-color: var(--search-mark-bg);
    transition: background-color 300ms linear;
    cursor: pointer;
}

mark.fade-out {
    background-color: rgba(0, 0, 0, 0) !important;
    cursor: auto;
}

.searchbar-outer {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 100%;
}

#searchbar {
    width: 100%;
    margin-block-start: 5px;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 10px 16px;
    border: none;
    border-bottom: 3px dotted var(--border-color);
    background-color: transparent;
    color: inherit;
    font-size: 1rem;
}

#search-toggle {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
    display: initial;
    margin-bottom: initial;
    padding: initial;
}

#searchbar:focus {
    outline: none;
}

#searchbar-outer {
    position: relative;
}

#searchbar-outer:focus-within:before {
    opacity: 0.2;
}

#searchbar-outer:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--accent);
    transform: scaleY(.75) scaleX(1.01);
    filter: blur(20px);
    opacity: 0.0;
    transition: opacity 0.2s ease-in-out;
}

.searchresults-header {
    font-weight: bold;
    font-size: 1rem;
    padding-block-start: 18px;
    padding-block-end: 0;
    padding-inline-start: 5px;
    padding-inline-end: 0;
    color: var(--color);
}

.searchresults-outer {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 100%;
    border-block-end: 1px solid var(--border-color);
}

ul#searchresults {
    list-style: none;
    padding-inline-start: 20px;
}

ul#searchresults li {
    margin: 10px 0px;
    padding: 2px;
    border-radius: 2px;
}

ul#searchresults li.focus:before {
    opacity: 0.2;
}

ul#searchresults li:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--accent);
    transform: scaleY(1) scaleX(1.03);
    filter: blur(20px);
    opacity: 0.0;
    transition: opacity 0.2s ease-in-out;
}

ul#searchresults span.teaser {
    display: block;
    clear: both;
    margin-block-start: 5px;
    margin-block-end: 0;
    margin-inline-start: 20px;
    margin-inline-end: 0;
    font-size: 0.9rem;
}

ul#searchresults span.teaser em {
    font-weight: 1000;
    font-style: normal;
    color: var(--search-result-fg);
}
