:root {
  --accent: rgb(171, 158, 239);
  --accent-alpha-70: rgba(171, 158, 239, .7);
  --accent-alpha-20: rgba(171, 158, 239, .2);

  --background: #21202C;
  --color: #fcfcfa;
  --border-color: rgba(255, 255, 255, .1);
}
